<footer class="footer">

    <nav aria-label="Footer navigaatio">
        <ul class="footer-nav">
            <li><a href="/about">Tietoa meistä</a></li>
            <li><a href="/help"> Ohjeita </a></li>
            <li><a href="/contact">Yhteystiedot</a></li>
        </ul>
    </nav>

    <p class="copyright">
        © 2026 Backend Baddies
    </p>

</footer>