<header class="site-header">
    <div class="topbar">
        <a href="/" class="site-logo"> Temumdb</a>

        <nav aria-label="Navigation">
            <ul class="main-nav">
                <li><a href="/movies-page">Movies</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </div>
</header>