<main aria-label="Etusivun sisältö">
    <div class="page-container">

        <section aria-label="Esittelykuva">
            <img 
                src="/images/movie.png" 
                alt="Neljä ihmistä katsomassa televisiota yhdessä" width="1000px">
        </section>

        <section aria-labelledby="uusimmat">
            <h2 id="uusimmat">Uusimmat elokuvat</h2>
        </section>

    </div>
</main>