<main aria-label="Frontpage content">
    <div class="page-container">

        <section aria-label="Welcome picture">
            <img 
                src="/images/movie.png" 
                alt="Four people watching movies together" width="1000px">
        </section>

        <section aria-labelledby="newest">
            <h2 id="uusimmat">Newest movies</h2>
        </section>

    </div>
</main>